In [29]:
# Imports
import os
import boto3
import pandas as pd
from io import StringIO

## Data Ingestion

---

In [30]:
# Load variables from .env file, ignoring lines without '='
def load_env_variables(env_file='../.env'):
    with open(env_file, 'r') as file:
        for line in file:
            # Skip lines without an equals sign or comments
            if '=' in line and not line.strip().startswith('#'):
                key, value = line.strip().split('=', 1)
                os.environ[key] = value

# Load environment variables
load_env_variables()

In [31]:
# Create an S3 client
s3 = boto3.client('s3')

# Specify path to your file within S3 bucket
bucket_name = os.getenv('BUCKET_NAME')
object_key = os.getenv('OBJECT_KEY')

# Get the object from S3
csv_obj = s3.get_object(Bucket=bucket_name, Key=object_key)

# Get the body of the object (the file content)
body = csv_obj['Body']

# Read the body into a string
csv_string = body.read().decode('utf-8')

# Use pandas to read the CSV string into a DataFrame
aig_df = pd.read_csv(StringIO(csv_string))

aig_df.head()

,OpCo,OpCo Name,Subsidiary,Subsidiary Name,Departure Airport,Departure Airport Name,Departure Country,Departure Country Name,Departure Region,Arrival Airport,Arrival Airport Name,Arrival Country,Arrival Country Name,Arrival Region,Aircraft type,Date,Cabin,Service,# Passengers,# Flights
0,VY,Vueling,NaN,NaN,BIO,BILBAO,ES,Spain,Europe/Domestic,BCN,BARCELONA,ES,Spain,Europe/Domestic,A320,2019-07-02,Economy,Non-Premium,220,9
1,VY,Vueling,NaN,NaN,BCN,BARCELONA,ES,Spain,Europe/Domestic,BIO,BILBAO,ES,Spain,Europe/Domestic,A320,2019-07-02,Economy,Non-Premium,503,6
2,VY,Vueling,NaN,NaN,BIO,BILBAO,ES,Spain,Europe/Domestic,PMI,PALMA,ES,Spain,Europe/Domestic,A320,2019-07-02,Economy,Non-Premium,188,11
3,VY,Vueling,NaN,NaN,PMI,PALMA,ES,Spain,Europe/Domestic,BIO,BILBAO,ES,Spain,Europe/Domestic,A320,2019-07-02,Economy,Non-Premium,405,8
4,VY,Vueling,NaN,NaN,BIO,BILBAO,ES,Spain,Europe/Domestic,LIS,LISBON,PT,Portugal,Europe,A320,2019-07-02,Economy,Non-Premium,152,20

## Basic Data Exploration

---

In [32]:
# Dataframe info
aig_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3460 entries, 0 to 3459
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   OpCo                    3460 non-null   object
 1   OpCo Name               3460 non-null   object
 2   Subsidiary              1971 non-null   object
 3   Subsidiary Name         1971 non-null   object
 4   Departure Airport       3460 non-null   object
 5   Departure Airport Name  3460 non-null   object
 6   Departure Country       3460 non-null   object
 7   Departure Country Name  3460 non-null   object
 8   Departure Region        3460 non-null   object
 9   Arrival Airport         3460 non-null   object
 10  Arrival Airport Name    3460 non-null   object
 11  Arrival Country         3460 non-null   object
 12  Arrival Country Name    3460 non-null   object
 13  Arrival Region          3460 non-null   object
 14  Aircraft type           3238 non-null   object
 15  Date                    3460 non-null   object
 16  Cabin                   3460 non-null   object
 17  Service                 3460 non-null   object
 18  # Passengers            3460 non-null   int64
 19  # Flights               3460 non-null   int64
dtypes: int64(2), object(18)
memory usage: 540.8+ KB

### **Dataframe Descritpion**

This dataframe encapsulates flight data for an group of airlines (AIG), spanning 3460 records and 20 variables. It records details about operating entities, their subsidiaries, and associated names. Moreover, it contains geographical specifics, cataloging departure and arrival airports, countries, and regions. It also details the aircraft used, flight dates, cabin classes, service types, alongside the number of passengers and flights.

| **Variable**               | **Description**             | **DataType** | **Null Value Count** |
|------------------------|-------------------------|----------|------------------|
| `OpCo`                   | Operating Company       | object   | 0                |
| `OpCo Name`              | Operating Company Name  | object   | 0                |
| `Subsidiary`             | Subsidiary Company      | object   | 1489             |
| `Subsidiary Name`        | Subsidiary Company Name | object   | 1489             |
| `Departure Airport`      | Departure Airport Code  | object   | 0                |
| `Departure Airport Name` | Name of Departure Airport | object | 0              |
| `Departure Country`      | Departure Country Code  | object   | 0                |
| `Departure Country Name` | Name of Departure Country | object | 0             |
| `Departure Region`      | Departure Region Name   | object   | 0                |
| `Arrival Airport`        | Arrival Airport Code    | object   | 0                |
| `Arrival Airport Name`   | Name of Arrival Airport | object   | 0                |
| `Arrival Country`        | Arrival Country Code    | object   | 0                |
| `Arrival Country Name`   | Name of Arrival Country | object   | 0                |
| `Arrival Region`         | Arrival Region Name     | object   | 0                |
| `Aircraft type`          | Type of Aircraft        | object   | 222              |
| `Date`                   | Date of Flight          | datetime   | 0                |
| `Cabin`                  | Cabin Type              | object   | 0                |
| `Service`                | Type of Service         | object   | 0                |
| `# Passengers`           | Number of Passengers    | int64    | 0                |
| `# Flights`              | Number of Flights       | int64    | 0                |

In [33]:
# Check for unique values per column (only categoricals)
for column in aig_df.select_dtypes(include=['object']).columns:
    print(column)
    print(f"{aig_df[column].unique()}\n")

OpCo
['VY' 'BA' 'LV' 'IB' 'EI' 'I2']

OpCo Name
['Vueling' 'British Airways' 'Level' 'Iberia' 'Aer Lingus'
 'Iberia Express' 'Vueling+']

Subsidiary
[nan 'CJ' 'A0' 'BA' 'IBC']

Subsidiary Name
[nan 'Cityflyer' 'Euroflyer' 'British Airways' 'Iberia Airline']

Departure Airport
['BIO' 'BCN' 'PMI' 'LIS' 'SVQ' 'FCO' 'CDG' 'JMK' 'PRG' 'MRS' 'ALG' 'NCE'
 'TLS' 'IBZ' 'CAG' 'LGW' 'ORY' 'VGO' 'MXP' 'MUC' 'MAH' 'HER' 'SPU' 'MAD'
 'AGP' 'ATH' 'OPO' 'LPA' 'LCG' 'OTP' 'DUB' 'VLC' 'ZRH' 'DME' 'TLV' 'ARN'
 'STR' 'NTE' 'CTA' 'LYS' 'ACE' 'AMS' 'BLQ' 'VCE' 'LHR' 'NBO' 'OSL' 'CPH'
 'HEL' 'PSA' 'BUD' 'ABV' 'BOS' 'SEA' 'DXB' 'ATL' 'JFK' 'KWI' 'MCO' 'TPA'
 'ANU' 'TAB' 'BGI' 'UVF' 'POS' 'PUJ' 'BDA' 'YVR' 'SFO' 'SIN' 'HKG' 'ORD'
 'LAX' 'JNB' 'NAS' 'INV' 'NCL' 'EDI' 'MAN' 'ABZ' 'GOT' 'BRU' 'HAJ' 'BHD'
 'GRU' 'BLR' 'SAN' 'GVA' 'LCA' 'FRA' 'ZAG' 'TXL' 'BSL' 'LED' 'GLA' 'DUS'
 'GIB' 'LUX' 'VIE' 'LIN' 'BLL' 'PMO' 'BOD' 'ALC' 'SZG' 'FLR' 'GRX' 'RNS'
 'LTN' 'CWL' 'FUE' 'PUY' 'EFL' 'HAM' 'IST' 'KBP' 'FAO' 'CFU' 'KEF' 'SOF'
 'FNC' 'SKG' 'KGS' 'DBV' 'RAK' 'TFS' 'NAP' 'BEY' 'SVO' 'DLM' 'CAI' 'YYC'
 'EWR' 'KIX' 'HYD' 'YUL' 'SJC' 'DOH' 'JED' 'SCL' 'MEX' 'BWI' 'BOM' 'NRT'
 'BNA' 'YYZ' 'MSY' 'MAA' 'KUL' 'PHL' 'BAH' 'SCQ' 'TFN' 'EZE' 'LBA' 'OLB'
 'MRU' 'BKK' 'PVG' 'IAH' 'DEL' 'LAS' 'DUR' 'ICN' 'GIG' 'OVD' 'DSS' 'SDR'
 'LIM' 'UIO' 'SYD' 'BOG' 'MIA' 'PTY' 'HAV' 'MVD' 'SDQ' 'SJO' 'GUA' 'SAL'
 'XRY' 'TNG' 'ZTH' 'PVK' 'ORN' 'TRN' 'BHX' 'BIA' 'MLA' 'ACC' 'RUH' 'JER'
 'ORK' 'ADB' 'MSP' 'SNN' 'BDL' 'LCY' 'LEI' 'GOA' 'SPC' 'ZAD' 'JTR' 'AMM'
 'VRN' 'BDS' 'KRK' 'WAW' 'HND' 'PEK' 'DFW' 'IAD' 'PHX' 'LOS' 'DEN' 'CPT'
 'AUS' 'TIA' 'EAS' 'BEG' 'RHO' 'NOC' 'BOJ']

Departure Airport Name
['BILBAO' 'BARCELONA' 'PALMA' 'LISBON' 'SEVILLE' 'ROME-FIUMICINO'
 'PARIS CHARLES DE GAULLE' 'MYKONOS' 'PRAGUE RUZYNE INTERNATIONAL AIRPORT'
 'MARSEILLE' 'ALGIERS' "NICE COTE D'AZUR" 'TOULOUSE BLAGNAC' 'IBIZA'
 'CAGLIARI' 'LONDON GATWICK' 'ORLY-PARIS' 'VIGO AIRPORT'
 'MILAN - MALPENSA' 'MUNICH' 'MENORCA' 'HERAKLION' 'SPLIT' 'MADRID'
 'MALAGA AIRPORT' 'ATHENS' 'PORTO' 'LAS PALMAS GRAN CANARIA'
 'LA CORUNA AIRPORT' 'BUCHAREST OTOPENI' 'DUBLIN' 'VALENCIA' 'ZURICH'
 'MOSCOW - DOMODEDEVO' 'TEL AVIV' 'STOCKHOLM-ARLANDA' 'STUTTGART' 'NANTES'
 'CATANIA' 'LYON' 'ARRECIFE-LANZAROTE' 'AMSTERDAM' 'BOLOGNA' 'VENICE'
 'LONDON HEATHROW' 'NAIROBI' 'OSLO GARDERMOEN' 'COPENHAGEN' 'HELSINKI'
 'PISA' 'BUDAPEST' 'ABUJA NNAMDI AZIKIWE INTERNATIONAL'
 'BOSTON EDWARD L LOGAN INTERNATIONAL' 'SEATTLE' 'DUBAI' 'ATLANTA'
 'NEW YORK-JOHN F KENNEDY' 'KUWAIT' 'ORLANDO' 'TAMPA' 'ANTIGUA'
 'A.N.R. ROBINSON INTERNATIONAL' 'BARBADOS' 'ST LUCIA'
 'PIARCO INTERNATIONAL' 'PUNTA CANA INTERNATIONAL' 'BERMUDA' 'VANCOUVER'
 'SAN FRANCISCO' 'SINGAPORE' 'HONG KONG - CHEK LAP KOK' 'CHICAGO'
 'LOS ANGELES' 'JOHANNESBURG INTERNATIONAL'
 'LYNDEN PINDLING INTERNATIONAL' 'INVERNESS' 'NEWCASTLE' 'EDINBURGH'
 'MANCHESTER' 'ABERDEEN' 'GOTHENBURG' 'BRUSSELS AIRPORT' 'HANOVER'
 'BELFAST CITY AIRPORT' 'SAO PAULO - GUARULHOS' 'KEMPEGOWDA INTL'
 'SAN DIEGO' 'GENEVA' 'LARNACA' 'FRANKFURT' 'ZAGREB FRANJO TUDMAN'
 'BERLIN TEGEL' 'BASEL MULHOUSE EUROAIRPORT SWISS CH' 'ST PETERSBURG'
 'GLASGOW' 'DUSSELDORF' 'GIBRALTAR' 'LUXEMBOURG INTERNATIONAL' 'VIENNA'
 'MILAN-LINATE' 'BILLUND' 'PALERMO' 'BORDEAUX' 'ALICANTE' 'SALZBURG'
 'FLORENCE' 'GRANADA' 'RENNES' 'LUTON AIRPORT' 'CARDIFF' 'FUERTEVENTURA'
 'PULA' 'KEFALLINIA' 'HAMBURG' 'ISTANBUL AIRPORT' 'KYIV BORYSPIL INTL'
 'FARO' 'KERKYRA' 'KEFLAVIK INTERNATIONAL' 'SOFIA VRAZHDEBNA' 'FUNCHAL'
 'THESSALONIKI' 'KOS' 'DUBROVNIK' 'MARRAKECH' 'TENERIFE-SUR REINA SOFIA'
 'NAPLES CAPODICHINO' 'BEIRUT' 'MOSCOW - SHEREMETYEVO' 'DALAMAN' 'CAIRO'
 'CALGARY' 'NEWARK NJ' 'KANSAI' 'HYDERABAD' 'MONTREAL - DORVAL'
 'SAN JOSE INTERNATIONAL AIRPORT' 'HAMAD INTERNATIONAL AIRPORT' 'JEDDAH'
 'SANTIAGO' 'MEXICO CITY' 'BALTIMORE WASH.INTL' 'MUMBAI' 'TOKYO NARITA'
 'NASHVILLE' 'TORONTO LESTER B PEARSON INTERNATIONAL' 'NEW ORLEANS'
 'CHENNAI' 'KUALA LUMPUR INTERNATIONAL' 'PHILADELPHIA' 'BAHRAIN'
 'SANTIAGO DE COMPOSTELA' 'TENERIFE NORTH'
 'BUENOS AIRES - MINISTRO PISTAR' 'LEEDS BRADFORD' 'OLBIA'
 'MAURITIUS SIR S RAMGOOLAM INTL' 'BANGKOK' 'SHANGHAI PU DONG'
 'HOUSTON GEORGE BUSH INTERCONTINENTAL' 'DELHI' 'LAS VEGAS'
 'DURBAN KING SHAKA INTL' 'SEOUL (INCHEON INTNL)'
 'GALEAO-A.C JOBIM INTERNATIONAL' 'ASTURIAS'
 'BLAISE DIAGNE INTERNATIONAL AIRPORT' 'SANTANDER AIRPORT'
 'LIMA J CHAVEZ INTL' 'MARISCAL SUCRE INTERNATIONAL' 'SYDNEY'
 'EL DORADO INTERNATIONAL' 'MIAMI' 'TOCUMEN INTERNATIONAL' 'HAVANA'
 'MONTEVIDEO - CARRASCO' 'LAS AMERICAS INTERNATIONAL' 'SANJOSE'
 'LA AURORA INTERNATIONAL' 'EL SALVADOR INTERNATIONAL'
 'JEREZ DE LA FRONTERA  AIRPORT' 'TANGIER IBN BATOUTA' 'ZAKINTHOS ISLAND'
 'PREVEZA' 'AHMED BEN BELLA' 'TURIN' 'BIRMINGHAM' 'BASTIA'
 'MALTA INTERNATIONAL' 'ACCRA KOTOKA INTL'
 'RIYADH KING KHALID INTERNATIONAL' 'JERSEY' 'CORK' 'IZMIR ADNAN MENDERES'
 'MINNEAPOLIS' 'SHANNON' 'HARTFORD BRADLEY INTERNATIONAL'
 'LONDON CITY AIRPORT' 'ALMERIA' 'GENOA' 'SANTA CRUZ DE LA PALMA' 'ZADAR'
 'THIRA' 'AMMAN' 'VERONA' 'BRINDISI' 'KRAKOW' 'FREDERIC CHOPIN'
 'TOKYO HANEDA' 'BEIJING' 'DALLAS FORT WORTH INTERNATIONAL'
 'WASHINGTON - DULLES' 'PHOENIX' 'LAGOS MURTALA MUHAMMED INTERNATIONAL'
 'DENVER' 'CAPE TOWN' 'AUSTIN-BERGSTROM'
 'TIRANA NENE TEREZA INTERNATIONAL' 'SAN SEBASTIAN AIRPORT' 'BELGRADE'
 'RHODES' 'KNOCK' 'BOURGAS']

Departure Country
['ES' 'PT' 'IT' 'FR' 'GR' 'CZ' 'DZ' 'GB' 'DE' 'HR' 'RO' 'IE' 'CH' 'RU'
 'IL' 'SE' 'NL' 'KE' 'NO' 'DK' 'FI' 'HU' 'NG' 'US' 'AE' 'KW' 'AG' 'TT'
 'BB' 'LC' 'DO' 'BM' 'CA' 'SG' 'HK' 'ZA' 'BS' 'BE' 'BR' 'IN' 'CY' 'GI'
 'LU' 'AT' 'TR' 'UA' 'IS' 'BG' 'MA' 'LB' 'EG' 'JP' 'QA' 'SA' 'CL' 'MX'
 'MY' 'BH' 'AR' 'MU' 'TH' 'CN' 'KR' 'SN' 'PE' 'EC' 'AU' 'CO' 'PA' 'CU'
 'UY' 'CR' 'GT' 'SV' 'MT' 'GH' 'JO' 'PL' 'AL' 'RS']

Departure Country Name
['Spain' 'Portugal' 'Italy' 'France' 'Greece' 'Czech Republic' 'Algeria'
 'United Kingdom' 'Germany' 'Croatia' 'Romania' 'Ireland' 'Switzerland'
 'Russia' 'Israel' 'Sweden' 'Netherlands' 'Kenya' 'Norway' 'Denmark'
 'Finland' 'Hungary' 'Nigeria' 'United States' 'United Arab Emirates'
 'Kuwait' 'Antigua and Barbuda' 'Trinidad and Tobago' 'Barbados'
 'St. Lucia' 'Dominican Republic' 'Bermuda' 'Canada' 'Singapore'
 'Hong Kong, China' 'South Africa' 'Bahamas,  The' 'Belgium' 'Brazil'
 'India' 'Cyprus' 'Gibraltar' 'Luxembourg' 'Austria' 'Turkey' 'Ukraine'
 'Iceland' 'Bulgari§ ' 'Morocco' 'Lebanon' 'Egypt' 'Japan' 'Qatar'
 'Saudi Arabia' 'Chile' 'Mexico' 'Malaysia' 'Bahrain' 'Argentina'
 'Mauritius' 'Thailand' 'China' 'South Korea' 'Senegal' 'Peru' 'Ecuador'
 'Australia' 'Colombia' 'Panama' 'Cuba' 'Uruguay' 'Costa Rica' 'Guatemala'
 'El Salvador' 'Malta' 'Ghana' 'Jordan' 'Poland' 'Albania' 'Serbia']

Departure Region
['Europe/Domestic' 'Europe' 'AMESA' 'US + CA' 'Caribbean' 'Asia-Pacific'
 'LATAM']

Arrival Airport
['BCN' 'BIO' 'PMI' 'LIS' 'SVQ' 'FCO' 'CDG' 'PRG' 'MRS' 'ALG' 'NCE' 'TLS'
 'IBZ' 'CAG' 'JMK' 'LGW' 'ORY' 'VGO' 'MXP' 'MUC' 'MAH' 'HER' 'SPU' 'MAD'
 'AGP' 'ATH' 'OPO' 'LPA' 'LCG' 'DUB' 'VLC' 'ZRH' 'DME' 'ARN' 'STR' 'NTE'
 'CTA' 'JTR' 'LYS' 'ACE' 'AMS' 'BLQ' 'VCE' 'NBO' 'LHR' 'CPH' 'HEL' 'PSA'
 'BUD' 'JFK' 'ATL' 'SEA' 'DXB' 'BOS' 'DFW' 'MCO' 'TPA' 'KIN' 'ANU' 'TAB'
 'BGI' 'UVF' 'POS' 'PUJ' 'BDA' 'YVR' 'HKG' 'ORD' 'SIN' 'SFO' 'JNB' 'BLR'
 'NCL' 'OSL' 'EDI' 'MAN' 'GOT' 'HAJ' 'BHD' 'ABZ' 'BRU' 'TLV' 'GRU' 'SAN'
 'GVA' 'LCA' 'ZAG' 'TXL' 'BSL' 'LED' 'GLA' 'DUS' 'GIB' 'VIE' 'LUX' 'FRA'
 'LIN' 'BLL' 'PMO' 'OTP' 'BOD' 'ALC' 'SZG' 'FLR' 'GRX' 'RNS' 'LTN' 'CWL'
 'FUE' 'PUY' 'EFL' 'HAM' 'IST' 'KBP' 'FAO' 'INV' 'CFU' 'KEF' 'SOF' 'FNC'
 'SKG' 'KGS' 'DBV' 'RAK' 'TFS' 'NAP' 'AMM' 'SVO' 'DLM' 'HYD' 'EWR' 'ICN'
 'MAA' 'GIG' 'BWI' 'ISB' 'PIT' 'LAX' 'DOH' 'SJC' 'KUL' 'YYC' 'MEX' 'BOM'
 'BNA' 'YYZ' 'SCL' 'NRT' 'BAH' 'SCQ' 'TFN' 'EZE' 'LBA' 'OLB' 'IAH' 'PVG'
 'DEL' 'BKK' 'ABV' 'LAS' 'JED' 'CAI' 'YUL' 'OVD' 'DSS' 'SDR' 'LIM' 'UIO'
 'BOG' 'MIA' 'HAV' 'PTY' 'SDQ' 'SJO' 'MVD' 'MDE' 'GUA' 'SAL' 'SJU' 'XRY'
 'IEV' 'TNG' 'ZTH' 'PVK' 'ORN' 'TRN' 'BHX' 'BIA' 'MLA' 'ACC' 'DEN' 'RUH'
 'JER' 'ORK' 'ADB' 'MSP' 'SNN' 'BDL' 'LCY' 'LEI' 'GOA' 'SPC' 'ZAD' 'BEY'
 'VRN' 'BDS' 'KRK' 'WAW' 'KWI' 'HND' 'SYD' 'PEK' 'PHX' 'IAD' 'CPT' 'LOS'
 'PHL' 'AUS' 'TIA' 'EAS' 'BEG' 'NOC' 'BOJ']

Arrival Airport Name
['BARCELONA' 'BILBAO' 'PALMA' 'LISBON' 'SEVILLE' 'ROME-FIUMICINO'
 'PARIS CHARLES DE GAULLE' 'PRAGUE RUZYNE INTERNATIONAL AIRPORT'
 'MARSEILLE' 'ALGIERS' "NICE COTE D'AZUR" 'TOULOUSE BLAGNAC' 'IBIZA'
 'CAGLIARI' 'MYKONOS' 'LONDON GATWICK' 'ORLY-PARIS' 'VIGO AIRPORT'
 'MILAN - MALPENSA' 'MUNICH' 'MENORCA' 'HERAKLION' 'SPLIT' 'MADRID'
 'MALAGA AIRPORT' 'ATHENS' 'PORTO' 'LAS PALMAS GRAN CANARIA'
 'LA CORUNA AIRPORT' 'DUBLIN' 'VALENCIA' 'ZURICH' 'MOSCOW - DOMODEDEVO'
 'STOCKHOLM-ARLANDA' 'STUTTGART' 'NANTES' 'CATANIA' 'THIRA' 'LYON'
 'ARRECIFE-LANZAROTE' 'AMSTERDAM' 'BOLOGNA' 'VENICE' 'NAIROBI'
 'LONDON HEATHROW' 'COPENHAGEN' 'HELSINKI' 'PISA' 'BUDAPEST'
 'NEW YORK-JOHN F KENNEDY' 'ATLANTA' 'SEATTLE' 'DUBAI'
 'BOSTON EDWARD L LOGAN INTERNATIONAL' 'DALLAS FORT WORTH INTERNATIONAL'
 'ORLANDO' 'TAMPA' 'NORMAN MANLEY INTERNATIONAL' 'ANTIGUA'
 'A.N.R. ROBINSON INTERNATIONAL' 'BARBADOS' 'ST LUCIA'
 'PIARCO INTERNATIONAL' 'PUNTA CANA INTERNATIONAL' 'BERMUDA' 'VANCOUVER'
 'HONG KONG - CHEK LAP KOK' 'CHICAGO' 'SINGAPORE' 'SAN FRANCISCO'
 'JOHANNESBURG INTERNATIONAL' 'KEMPEGOWDA INTL' 'NEWCASTLE'
 'OSLO GARDERMOEN' 'EDINBURGH' 'MANCHESTER' 'GOTHENBURG' 'HANOVER'
 'BELFAST CITY AIRPORT' 'ABERDEEN' 'BRUSSELS AIRPORT' 'TEL AVIV'
 'SAO PAULO - GUARULHOS' 'SAN DIEGO' 'GENEVA' 'LARNACA'
 'ZAGREB FRANJO TUDMAN' 'BERLIN TEGEL'
 'BASEL MULHOUSE EUROAIRPORT SWISS CH' 'ST PETERSBURG' 'GLASGOW'
 'DUSSELDORF' 'GIBRALTAR' 'VIENNA' 'LUXEMBOURG INTERNATIONAL' 'FRANKFURT'
 'MILAN-LINATE' 'BILLUND' 'PALERMO' 'BUCHAREST OTOPENI' 'BORDEAUX'
 'ALICANTE' 'SALZBURG' 'FLORENCE' 'GRANADA' 'RENNES' 'LUTON AIRPORT'
 'CARDIFF' 'FUERTEVENTURA' 'PULA' 'KEFALLINIA' 'HAMBURG'
 'ISTANBUL AIRPORT' 'KYIV BORYSPIL INTL' 'FARO' 'INVERNESS' 'KERKYRA'
 'KEFLAVIK INTERNATIONAL' 'SOFIA VRAZHDEBNA' 'FUNCHAL' 'THESSALONIKI'
 'KOS' 'DUBROVNIK' 'MARRAKECH' 'TENERIFE-SUR REINA SOFIA'
 'NAPLES CAPODICHINO' 'AMMAN' 'MOSCOW - SHEREMETYEVO' 'DALAMAN'
 'HYDERABAD' 'NEWARK NJ' 'SEOUL (INCHEON INTNL)' 'CHENNAI'
 'GALEAO-A.C JOBIM INTERNATIONAL' 'BALTIMORE WASH.INTL' 'ISLAMABAD'
 'PITTSBURGH' 'LOS ANGELES' 'HAMAD INTERNATIONAL AIRPORT'
 'SAN JOSE INTERNATIONAL AIRPORT' 'KUALA LUMPUR INTERNATIONAL' 'CALGARY'
 'MEXICO CITY' 'MUMBAI' 'NASHVILLE'
 'TORONTO LESTER B PEARSON INTERNATIONAL' 'SANTIAGO' 'TOKYO NARITA'
 'BAHRAIN' 'SANTIAGO DE COMPOSTELA' 'TENERIFE NORTH'
 'BUENOS AIRES - MINISTRO PISTAR' 'LEEDS BRADFORD' 'OLBIA'
 'HOUSTON GEORGE BUSH INTERCONTINENTAL' 'SHANGHAI PU DONG' 'DELHI'
 'BANGKOK' 'ABUJA NNAMDI AZIKIWE INTERNATIONAL' 'LAS VEGAS' 'JEDDAH'
 'CAIRO' 'MONTREAL - DORVAL' 'ASTURIAS'
 'BLAISE DIAGNE INTERNATIONAL AIRPORT' 'SANTANDER AIRPORT'
 'LIMA J CHAVEZ INTL' 'MARISCAL SUCRE INTERNATIONAL'
 'EL DORADO INTERNATIONAL' 'MIAMI' 'HAVANA' 'TOCUMEN INTERNATIONAL'
 'LAS AMERICAS INTERNATIONAL' 'SANJOSE' 'MONTEVIDEO - CARRASCO'
 'JOSE MARIA CORDOVA INTERNATIONAL' 'LA AURORA INTERNATIONAL'
 'EL SALVADOR INTERNATIONAL' 'SANJUAN' 'JEREZ DE LA FRONTERA  AIRPORT'
 'KYIV ZHULIANY INTL' 'TANGIER IBN BATOUTA' 'ZAKINTHOS ISLAND' 'PREVEZA'
 'AHMED BEN BELLA' 'TURIN' 'BIRMINGHAM' 'BASTIA' 'MALTA INTERNATIONAL'
 'ACCRA KOTOKA INTL' 'DENVER' 'RIYADH KING KHALID INTERNATIONAL' 'JERSEY'
 'CORK' 'IZMIR ADNAN MENDERES' 'MINNEAPOLIS' 'SHANNON'
 'HARTFORD BRADLEY INTERNATIONAL' 'LONDON CITY AIRPORT' 'ALMERIA' 'GENOA'
 'SANTA CRUZ DE LA PALMA' 'ZADAR' 'BEIRUT' 'VERONA' 'BRINDISI' 'KRAKOW'
 'FREDERIC CHOPIN' 'KUWAIT' 'TOKYO HANEDA' 'SYDNEY' 'BEIJING' 'PHOENIX'
 'WASHINGTON - DULLES' 'CAPE TOWN' 'LAGOS MURTALA MUHAMMED INTERNATIONAL'
 'PHILADELPHIA' 'AUSTIN-BERGSTROM' 'TIRANA NENE TEREZA INTERNATIONAL'
 'SAN SEBASTIAN AIRPORT' 'BELGRADE' 'KNOCK' 'BOURGAS']

Arrival Country
['ES' 'PT' 'IT' 'FR' 'CZ' 'DZ' 'GR' 'GB' 'DE' 'HR' 'IE' 'CH' 'RU' 'SE'
 'NL' 'KE' 'DK' 'FI' 'HU' 'US' 'AE' 'JM' 'AG' 'TT' 'BB' 'LC' 'DO' 'BM'
 'CA' 'HK' 'SG' 'ZA' 'IN' 'NO' 'BE' 'IL' 'BR' 'CY' 'GI' 'AT' 'LU' 'RO'
 'TR' 'UA' 'IS' 'BG' 'MA' 'JO' 'KR' 'PK' 'QA' 'MY' 'MX' 'CL' 'JP' 'BH'
 'AR' 'CN' 'TH' 'NG' 'SA' 'EG' 'SN' 'PE' 'EC' 'CO' 'CU' 'PA' 'CR' 'UY'
 'GT' 'SV' 'PR' 'MT' 'GH' 'LB' 'PL' 'KW' 'AU' 'AL' 'RS']

Arrival Country Name
['Spain' 'Portugal' 'Italy' 'France' 'Czech Republic' 'Algeria' 'Greece'
 'United Kingdom' 'Germany' 'Croatia' 'Ireland' 'Switzerland' 'Russia'
 'Sweden' 'Netherlands' 'Kenya' 'Denmark' 'Finland' 'Hungary'
 'United States' 'United Arab Emirates' 'Jamaica' 'Antigua and Barbuda'
 'Trinidad and Tobago' 'Barbados' 'St. Lucia' 'Dominican Republic'
 'Bermuda' 'Canada' 'Hong Kong, China' 'Singapore' 'South Africa' 'India'
 'Norway' 'Belgium' 'Israel' 'Brazil' 'Cyprus' 'Gibraltar' 'Austria'
 'Luxembourg' 'Romania' 'Turkey' 'Ukraine' 'Iceland' 'Bulgari§ ' 'Morocco'
 'Jordan' 'South Korea' 'Pakistan' 'Qatar' 'Malaysia' 'Mexico' 'Chile'
 'Japan' 'Bahrain' 'Argentina' 'China' 'Thailand' 'Nigeria' 'Saudi Arabia'
 'Egypt' 'Senegal' 'Peru' 'Ecuador' 'Colombia' 'Cuba' 'Panama'
 'Costa Rica' 'Uruguay' 'Guatemala' 'El Salvador' 'Puerto Rico' 'Malta'
 'Ghana' 'Lebanon' 'Poland' 'Kuwait' 'Australia' 'Albania' 'Serbia']

Arrival Region
['Europe/Domestic' 'Europe' 'AMESA' 'US + CA' 'Caribbean' 'Asia-Pacific'
 'LATAM']

Aircraft type
['A320' nan '747' '777' 'A380' '787' 'A330' 'A340' 'A350' '757']

Date
['2019-07-02']

Cabin
['Economy' 'Business' 'First' 'Economy Plus']

Service
['Non-Premium' 'Premium']

#### **EDA Insight #1:** Handling Missing Subsidiary and Aircraft Type Data

Subsidiaries are exclusively associated with `Iberia`, `Iberia Express`, and `British Airways`. This observation allows us to interpret null values in the subsidiaries column for other companies as 'No Subsidiary'. Additionally, `Aircraft type` has missing values, suggesting that the aircraft types were not specified on those specific records. A simple workaround for that column could be imputting those values as 'Not Specified'. **Validation approach:**

In [34]:
# Airlines spotted with subsidiaries
expected_airlines = {'Iberia', 'Iberia Express', 'British Airways'}

# Filter and check the hypothesis
is_subset = set(aig_df.loc[aig_df['Subsidiary'].notnull(), 'OpCo Name'].unique()).issubset(expected_airlines)

print(f"Only Iberia, Iberia Express, and British Airways have subsidiaries: {is_subset}")

Only Iberia, Iberia Express, and British Airways have subsidiaries: True

#### **EDA Insight #2:** Consolidating Vueling Entities

The review reveals no substantial evidence distinguishing `Vueling+` from `Vueling`, and with a mere 7 records attributed to `Vueling+`, I will streamline the analysis by consolidating these entries under `Vueling`. This approach ensures consistency and simplifies the dataset for more coherent insights. **Validation approach:**

In [35]:
# Get the number of Vueling+ records
print(f"Records attributed as 'Vueling+': {len(aig_df[aig_df['OpCo Name'] == 'Vueling+'])}")

Records attributed as 'Vueling+': 7

#### **EDA Insight #3:** Special Characters in Country Names

I've identified issues with country names, such as the presence of unwanted special characters (e.g., 'Bulgari@ ') and trailing whitespaces, which can introduce inconsistencies in our data analysis. To address this, I will implement a general regex pattern to cleanse the data, removing non-standard characters and excess spaces from both departure and arrival country names, ensuring a more error-free dataset for analysis. **Validation approach:**

In [36]:
# Regex expression
regex = r'[^a-zA-Z0-9\s\.,-]'

# Identify and filter invalid records in a single step
invalid_rows_df = aig_df[aig_df[['Departure Country Name', 'Arrival Country Name']]\
                         .apply(lambda x: x.str.contains(regex)).any(axis=1)]

invalid_rows_df[['Departure Country Name', 'Arrival Country Name']]

     Departure Country Name Arrival Country Name
588          United Kingdom            Bulgari§
589               Bulgari§        United Kingdom
2239                Ireland            Bulgari§
2240              Bulgari§               Ireland
2845         United Kingdom            Bulgari§
2846              Bulgari§        United Kingdom

#### **EDA Insight #4:** Singular Date Observation

The dataset reveals the presence of a single unique date value. This insight has implications for how we might structure our data storage, particularly for raw data, which could be organized by date in directories like 'data/raw/day=20190702'. However, given this uniformity in date values, a straightforward conversion to a datetime format should suffice for this column. **Validation approach:**

In [37]:
print(f"Unique values for 'Date' column: {aig_df['Date'].unique()}\n")

Unique values for 'Date' column: ['2019-07-02']

#### **EDA Insight #5:** Distinction Between Iberia and Iberia Express

Our analysis identifies separate entries for `Iberia` and `Iberia Express`. Given domain knowledge and corroborated by online research, we recognize `Iberia Express` as the budget-friendly counterpart within the Iberia Group. This distinction justifies treating them as independent entities.

#### **EDA Insight #6:** Column Naming Convention

I've identified that the current column names, containing white spaces, may pose challenges, particularly when integrating with data warehousing solutions that may favor a different naming convention. Adopting a standardized approach to column naming not only enhances compatibility but also maintains consistency across our data models. 

**NOTE:** specific naming requirements may exist within broader workflows, for the purposes of this project, we will proceed with renaming the columns to adhere to best practices.

### **Extra Step:** Evaluating the Distribution of Numerical Attributes

This step is taken for ensuring the integrity and consistency of our numerical data. By checking the distribution of these attributes, I aim to identify potential anomalies, such as outliers or irregular values, which could impact the analysis. This examination helps in maintaining the quality of our data, ensuring it represents the underlying data we seek to understand.

In [38]:
# Check for distributions per numerical column
aig_df[['# Passengers', '# Flights']].describe()

       # Passengers    # Flights
count   3460.000000  3460.000000
mean     545.646243    10.994798
std      256.591472     5.373581
min      100.000000     2.000000
25%      327.750000     6.000000
50%      545.500000    11.000000
75%      757.000000    16.000000
max     1000.000000    20.000000

In [39]:
# Save the DataFrame to a CSV file
aig_df.to_csv('../data/raw/Sample_Data.csv', index=False)